.date-picker > .text-field  {
    -fx-alignment: center;
    -fx-background-color: #6fb09c
}
.combo-box > .text-field {
  -fx-alignment: center;
  -fx-background-color: #6fb09c

}

.combo-box > .arrow-button .arrow{
  -fx-background-color: black;
  -fx-size: 10px;
}

.combo-box>.list-cell {
    -fx-alignment: center;
}
